:root {
  --primary-color: #6D6AC7;
  --primary-text-color: #6a73d3;
  --secondary-text-color: #aaa;
  --white-color: #fff;
  --light-gray-color: #f4f4f4;
  --mid-gray-color: #e9e9e9;
  --dark-gray-color: #1a1a1a;
  /* --black-color: #000; */
  --font-base: "Open Sans",sans-serif;
}

body {
    /* background-color: var(--primary-color); */
    /* user-select: none; */
      background: url("https://t4.ftcdn.net/jpg/04/08/87/37/360_F_408873710_BGALzaKeH5u7kQ2l8EzS7lHL2KaM7ad9.jpg");
      background-repeat: no-repeat;
      background-size: cover;
} 

.todo-container {
  background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.8px);
-webkit-backdrop-filter: blur(17.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.ongoing-container {
  background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.8px);
-webkit-backdrop-filter: blur(17.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
} 

.completed-container {
  background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.8px);
-webkit-backdrop-filter: blur(17.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}